[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
runner = {git = "https://github.com/SINGROUP/Runner.git"}
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.10"
